html {
  height: 100%;
}

body {
  background-image: URL("https://images.unsplash.com/photo-1528164344705-47542687000d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1192&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  /* align-items: center; */
  /* margin: 1rem 2rem; */
}

.card-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  max-width: 1100px;
  margin: 0 auto;
}

.card {
  font-size: 68px;
  color: darkred;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px lightgray;
  background-color: #f5f5f5;
  transform-style: preserve-3d;
  height: 150px;
  transition: 300ms;
  cursor: pointer;
  transform: perspective(1000px)rotateY(var(--rotate-y, 0));
}

.card:hover {
  box-shadow: 0 0 5px 2px darkgray;
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front,
.card .back,
.question-card .front {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}


.card .back {
  transform: rotateY(180deg);
}

.question-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px lightgray;
  background-color: #f5f5f5;
  height: 250px;
  cursor: pointer;
}

.question-card-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin: 2rem;
}

.flashcard-options {
  margin-top: .5rem;
}

.flashcard-option {
  margin-top: 0.25rem;
  color: #555;
  display: block;
}

.confirm-button {
  background-color: darkcyan;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: .8rem;
  font-weight: bold;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
}

.submit-button {
  background-color: darkcyan;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin: 2rem;
  margin-bottom: 0;
}

.confirm-button.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.score-results {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  font-family: "Dosis", sans-serif;
}

.pass-message {
  font-size: 24px;
  color: green;
  text-align: center;
  font-family: "Dosis", sans-serif;
}

.fail-message {
  font-size: 24px;
  color: green;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}